%h2
  = page_name
%br
- @questions.each do |question|
  .row-fluid
    .span12
      %p.text-justify
        = question.text
      %p
        - options = question.options ? question.options.size : 0
        - rules = question.rules ? question.rules.size : 0
        %a.badge{ href: form_question_options_path(@form, question) }
          = "#{options} #{t('options').downcase}"
        %a.badge{ href: form_question_rules_path(@form, question) }
          = "#{rules} #{t('rules').downcase}"
      %p
        .btn-group.pull-right
          = link_to t('show'), form_question_path(@form, question), { class: 'btn btn-mini' }
          = link_to t('edit'), edit_form_question_path(@form, question), { class: 'btn btn-mini' }
          = link_to t('destroy'), form_question_path(@form, question), { method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' }

= link_to t('title.questions.new'), new_form_question_path(@form), class: 'btn btn-small'
