%p
  = @question.text
%p
  - options = @question.options ? @question.options.size : 0
  %a.badge{ href: form_question_options_path(@form, @question) }
    = "#{options} #{t('options')}"

.btn-group.pull-right
  = link_to t('edit'), edit_form_question_url(@form, @question), { class: 'btn btn-mini' }
  = link_to t('all'), form_questions_url(@form), { class: 'btn btn-mini' }
