%h2 Listing replies
%br
- @replies.each do |reply|
  .row-fluid
    .span12
      %h4
        = reply.id
      %p
        .btn-group.pull-right
          = link_to 'Show', form_reply_path(@form, reply), { class: 'btn btn-mini' }
          = link_to 'Edit', edit_form_reply_path(@form, reply), { class: 'btn btn-mini' }
          = link_to 'Destroy', form_reply_path(@form, reply), { method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' }
        
= link_to 'New reply', new_form_reply_path, class: 'btn btn-small'
