<div class="question-box">
  <h4>
    Questão &nbsp;
    <input type="text" class="question-number" value="<%= @question.number %>" />&nbsp;
    <button class="btn btn-default btn-snall save-question" question_id="<%= @question.id %>">Salvar</button>&nbsp;
    <button class="btn btn-default btn-snall remove-question" question_id="<%= @question.id %>">Remover</button>&nbsp;
    <button class="btn btn-default btn-snall preview-question" question_id="<%= @question.id %>">Visualizar</button>&nbsp;
    <div class="first-question"><label for="is-first-<%= @question.id %>">início</label>: <input class="question-is-first" <%= @question.is_first ? "checked='checked'" : "" %> type="radio" id="is-first-<%= @question.id %>" name="is-first" /></div>
    <div class="last-question"><label for="is-last-<%= @question.id %>">final</label>: <input class="question-is-last" <%= @question.is_last ? "checked='checked'" : "" %> type="radio" id="is-last-<%= @question.id %>" name="is-last" /></div>
  </h1>
  <div>
    <textarea class="question-text"><%= @question.text %></textarea>
    <div class="options">
      <div>
        <span>Opções:</span>
        <button class="btn btn-default btn-snall add-option" question_id="<%= @question.id %>">Adicionar opção</button>
      </div>
      <div class="options-container">
      <% @question.options.each do |option| %>
        <% @option = option %>
        <%= render partial: "options/type/#{@question.question_type.code}/form" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
