<div class="question-box">
  <h4>
    Questão &nbsp;
    <input type="text" class="question-number" value="<%= @question.number %>" />&nbsp;
    <button class="btn btn-default btn-snall save-question" question_id="<%= @question.id %>">Salvar</button>&nbsp;
    <button class="btn btn-default btn-snall remove-question" question_id="<%= @question.id %>">Remover</button>&nbsp;
    <button class="btn btn-default btn-snall preview-question" question_id="<%= @question.id %>">Visualizar</button>
  </h1>
  <div>
    <textarea class="question-text"><%= @question.text %></textarea>
  </div>
</div>
