<div>
  <label id='group-<%= @question.id %>-<%= @option.id %>'>
    <input type='checkbox' name='group-<%= @question.id %>' id='id-<%= @question.id %>-<%= @option.id %>' option_id="<%= @option.id %>" />
    <%= @option.text %>
  </label>
</div>

