= form_for @answer, url: form_reply_answer_path(@form, @reply, @answer), html: { class: 'form-horizontal'} do |f|

  .field.control-group
    = f.label :reply_id, class: 'control-label'
    .controls
      = f.number_field :reply_id, class: 'span5'
      
  .field.control-group
    = f.label :question_id, class: 'control-label'
    .controls
      = f.number_field :question_id, class: 'span5'
      
  .field.control-group
    = f.label :option_id, class: 'control-label'
    .controls
      = f.number_field :option_id, class: 'span5'
      
  .field.control-group
    .controls
      .btn-group
        = f.submit 'Save', { class: 'btn btn-small' }
        = link_to 'Cancel', form_reply_answers_path(@form, @reply), { class: 'btn btn-small' }
