%h2 Listing answers
%br
%table
  %tr
    %th Reply
    %th Question
    %th Option
    %th

  - @answers.each do |answer|
    %tr
      %td
        = answer.reply_id
      %td
        = answer.question_id
      %td
        = answer.option_id
      %td
        .btn-group.pull-right
          = link_to 'Show', form_reply_answer_path(@form, @reply, answer), { class: 'btn btn-mini' }
          = link_to 'Edit', edit_form_reply_answer_path(@form, @reply, answer), { class: 'btn btn-mini' }
          = link_to 'Destroy', form_reply_answer_path(@form, @reply, answer), { method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' }

= link_to 'New Answer', new_form_reply_answer_path(@form, @reply), class: 'btn btn-small'
