%p
  = @answer.reply_id
%p
  = @answer.question_id
%p
  = @answer.option_id
.btn-group.pull-right
  = link_to 'Edit', edit_form_reply_answer_path(@form, @reply, @answer), { class: 'btn btn-mini' }
  = link_to 'All', form_reply_answers_path(@form, @reply), { class: 'btn btn-mini' }
