= form_for @form, html: { class: 'form-horizontal'} do |f|
  .field.control-group
    = f.label :form_type, {class: 'control-label'}
    .controls
      = f.collection_select :form_type_id, FormType.order(:name).collect{|form_type| Struct.new(:id, :name).new form_type.id, t("title.form_types.names.#{form_type.name}") }, :id, :name, class: 'span5'
  .field.control-group
    = f.label :name, {class: 'control-label'}
    .controls
      = f.text_field :name, class: 'span5'
  .field.control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, class: 'span5'
  .field.control-group
    .controls
      .btn-group
        = f.submit t('save'), { class: 'btn btn-small' }
        = link_to t('cancel'), forms_path, { class: 'btn btn-small' }
