%h2
  = page_name
%br
- @forms.each do |form|
  .row-fluid
    .span12
      %h4
        = link_to form.name, form_editor_path(form)
      %p
        - replies = form.replies ? form.replies.size : 0
        - questions = form.questions ? form.questions.size : 0
        %a.badge{href: form_questions_url(form)}
          = "#{questions} #{t('questions').downcase}"
        %a.badge{href: form_replies_url(form)}
          = "#{replies} #{t('replies').downcase}"
      %p.text-justify
        = form.description
      %p
        .btn-group.pull-right
          = link_to t('editor'), form_editor_path(form), { class: 'btn btn-mini' }
          = link_to t('report'), form_report_path(form), { class: 'btn btn-mini' }
          = link_to t('show'), form, { class: 'btn btn-mini' }
          = link_to t('edit'), edit_form_path(form), { class: 'btn btn-mini' }
          = link_to t('destroy'), form, { method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' }
        
= link_to t('title.forms.new'), new_form_path, class: 'btn btn-small'
      
