%p
  = @rule.question_id
%p
  = @rule.next_question_id
%p
  = @rule.option_id
.btn-group.pull-right
  = link_to 'Edit', edit_form_question_rule_path(@form, @question, @rule), { class: 'btn btn-mini' }
  = link_to 'All', form_question_rules_path(@form, @question), { class: 'btn btn-mini' }
