!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Graform"
    %meta{:content => content_for?(:description) ? yield(:description) : "Graform", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = javascript_tag "var csrf_token = '#{form_authenticity_token}';" if protect_against_forgery?
    = yield(:head)
    %script{type: "text/javascript"}
      - @javascript_vars = {} unless @javascript_vars
      - @javascript_vars.each do |k, v|
        = raw "window.#{k} = #{v.to_json};"
