= render 'layouts/header'
%body
  = image_tag 'loader.gif', id: 'loader'
  %header.navbar.navbar-fixed-top
    %nav.navbar-inner
      .container
        = render 'layouts/navigation'
  #main{:role => "main"}
    .container
      .content
        .row
          .span2.sidebar
            = render 'layouts/sidebar'
          .span10
            .span10.close-to-left
              = render 'layouts/messages'
            = yield
        %footer
